<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="{% url 'fib_form' %}">
            {% csrf_token %}
            <label for="n">Which Fibonacci number do you want?</label>
            <input type="text" id="n" name="num">
            <input type="submit" value="Submit">
        </form>
        {% if fibonacci %}
            <p>The {{n}}th fibonacci is {{fibonacci}}</p>
        {% endif %}
    </body>
</html>