<!DOCTYPE html>
<html>
    <body>
        {{error_message}}
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Username <br/></label>
            <input type="text" id="username" name="username"><br/>
            <label for="password">Password <br/></label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>